body {
    margin: 20px;
    font-family: Georgia, serif;
}

.avatar {
    width: 100px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ffb3b3;
    border-bottom: 6px solid #ff8080;
    color: white;
    text-shadow: 0 0 3px #FF0000;
}

p{
    color: #a52a2a;
    text-shadow: none;
}

.border-blue {
    border: 1px dotted blue;
}

